@import '~bulma/bulma.sass';

.navbar-style {
  background-color: black;
  color: white;
  font-family: 'Cutive Mono', monospace;
}

.header-style {
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: 'Cutive Mono', monospace;
}