@import '~bulma/bulma.sass';

.navbar-style {
  background-color: black;
  color: white;
  font-family: 'Cutive Mono', monospace;
}

.header-style {
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: 'Cutive Mono', monospace;
}

.button-nav {
  background-color: rgb(204,255,0);
  font-family: 'Cutive Mono', monospace;
  border: black;
  margin-bottom: 10px;
}

.button-nav:hover {
  background-color: rgb(150, 187, 3);
}

.link-nav {
  color: black;
}

.link-nav:hover {
  background-color: rgb(150, 187, 3);
  color: black;
}