.show-page {

  .titles {
    font-family: 'Cutive Mono', monospace;
  }

  .texts {
    font-family: 'Anonymous Pro', monospace;
  }

  .button-add-fav {
    background-color: rgb(251,72,196);
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .button-delete-fav {
    background-color: rgb(182, 0, 127);
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .button-edit {
    background-color: rgb(204,255,0);
    margin-bottom: 10px;
  }

  .button-delete {
    background-color: rgb(204,255,0);
    margin-bottom: 10px;
  }

  .button-review {
    background-color: rgb(68,214,44);
    margin-bottom: 10px;
  }

}

