.searchbar-section {
  background-color: rgb(221, 221, 221);

  input { 
    border: 1px solid rgb(204,255,0);
  }

  button {
    font-family: 'Cutive Mono', monospace;
    margin-top: 10px;
    background-color: rgb(204,255,0);
    font-weight: bold;
  }

  ::-webkit-input-placeholder { 
    font-family: 'Cutive Mono', monospace;
  }
  ::-moz-placeholder { 
    font-family: 'Cutive Mono', monospace;
  }
  :-ms-input-placeholder { 
    font-family: 'Cutive Mono', monospace;
  }
  :-moz-placeholder {
    font-family: 'Cutive Mono', monospace;
  }
  
  .no-match {
    font-family: 'Cutive Mono', monospace;
    font-size:bold;
  }
}