.searchbar-section {
  background-color: rgb(238, 238, 238);

  button {
    font-family: 'Cutive Mono', monospace;
    margin-top: 10px;
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: 'Cutive Mono', monospace;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    font-family: 'Cutive Mono', monospace;
  }
  :-ms-input-placeholder { /* IE 10+ */
    font-family: 'Cutive Mono', monospace;
  }
  :-moz-placeholder { /* Firefox 18- */
    font-family: 'Cutive Mono', monospace;
  }
  
}